@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
/* font-family: 'Varela Round', sans-serif; */



body {
    background-color: antiquewhite;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    font-family: 'Ubuntu', sans-serif;


}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li {
    padding: 0 12px;

}

.brand img {
    width: 44px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3 rem;
}

.container {
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: 'Valera Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 75%;
    background-image: url('Material/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
    padding: 24px;
}
.songItemcontainer{
margin-top: 34px;
}


.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    margin: 12px 0;
    border-radius: 10px 100px / 120px;
}
.songItem img{
    height: 50px;
    margin: 0 23px;
    border-radius: 34px;
}

.bottom {
    position: sticky;
    height: 130px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.icons {
    margin-top: 14px;

}

.icons i {
    cursor: pointer;
}

.ioc {
    padding: 10px;
}
.timestamp{
margin: 0 23px;


}
.timestamp i{
     cursor: pointer;
}
.songInfo{
position:absolute;
left:9vw;
}
.songInfo img{
    opacity: 0;
    transition: opacity 0.5s ease-in;
    font-family: 'Valera Round', sans-serif;

}
#myProgressBar {
    width: 80vw;
    cursor:pointer;
}